@-webkit-keyframes welcome {
  0% {
    font-size: 50px;
    opacity: 0;
  }

  1% {
    font-size: 50px;
    opacity: 1;
  }

  90% {
    font-size: 150px;
    opacity: 0.25;
  }

  99% {
    font-size: 300px;
    opacity: 0.2;
  }

  100% {
    font-size: 400px;
    opacity: 0;
  }
}

@-moz-keyframes welcome {
  0% {
    font-size: 50px;
    opacity: 0;
  }

  1% {
    font-size: 50px;
    opacity: 1;
  }

  90% {
    font-size: 150px;
    opacity: 0.25;
  }

  99% {
    font-size: 300px;
    opacity: 0.2;
  }

  100% {
    font-size: 400px;
    opacity: 0;
  }
}

@keyframes welcome {
  0% {
    font-size: 50px;
    opacity: 0;
  }

  1% {
    font-size: 50px;
    opacity: 1;
  }

  90% {
    font-size: 150px;
    opacity: 0.25;
  }

  99% {
    font-size: 300px;
    opacity: 0.2;
  }

  100% {
    font-size: 400px;
    opacity: 0;
  }
}

body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#welcome {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 15px;
  display: flex;
  display: -webkit-flex;
  position: fixed;
  color: white;
  background: black;
  opacity: 0;
  align-items: center;
  justify-content: center;
  font-family: "League-Gothic", Courier;
  text-transform: uppercase;
  word-break: keep-all;
  overflow: hidden;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
  -webkit-animation-name: welcome;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
}